@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  /* sizes */
  --scale: min(max(min(1vw, 1.5vh), 3.6px), 10.8px);
  --bar-ratio: 20;
  --page-width: min(
    calc(125 * var(--scale)),
    calc(90vw - var(--bar-ratio) * var(--scale))
  );

  /* colors */
  --color-background: #ffffff;
  --color-background-accent: #eeeeee;
  --color-background-emph: #cccccc;
  --color-text-main: #000000;
  --color-text-body: #222222;
  --color-text-sub: #666666;
  --color-text-link: #1166cc;
  --color-text-link-emph: #aa6633;

  /* font */
  --font-sans-serif: "IBM Plex Sans", "Arial", sans-serif;
  --font-serif: "Vollkorn", serif;
  --font-mono: "Inconsolata", monospace;
}

body {
  background: var(--color-background);
  color: var(--color-text-main);
  width: 100%;
  font-family: var(--font-serif);
  font-size: calc(2 * var(--scale));
  font-weight: 400;
  margin: 0;
}

.content {
  position: fixed;
  left: calc(var(--bar-ratio) * var(--scale));
  width: calc(100vw - var(--bar-ratio) * var(--scale));
  height: 100vh;
  overflow: scroll;
}

.body {
  width: var(--page-width);
  margin: auto;
}

h1 {
  font-family: var(--font-sans-serif);
  font-size: calc(4 * var(--scale));
  font-weight: 800;
}

h2 {
  font-family: var(--font-sans-serif);
  font-size: calc(3 * var(--scale));
  font-weight: 800;
}

h3 {
  font-family: var(--font-sans-serif);
  font-size: calc(2.5 * var(--scale));
  font-weight: 800;
}

p {
  color: var(--color-text-body);
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover {
  color: var(--color-text-link-emph);
}

code {
  font-family: var(--font-mono);
}

sup {
  vertical-align: top;
}

sub {
  vertical-align: bottom;
}

img {
  width: var(--page-width);
}

.logo {
  width: calc(var(--bar-ratio) * var(--scale));
  transform: scale(0.8, 0.8);
  border-radius: calc(0.5 * var(--bar-ratio) * var(--scale));
}

figcaption {
  color: var(--color-text-sub);
  font-style: italic;
  margin-top: calc(-2 * var(--scale));
}

table,
th,
td {
  width: var(--page-width);
  text-align: left;
  border: calc(0.15 * var(--scale)) solid;
  border-collapse: collapse;
  padding: calc(0.25 * var(--scale)) calc(0.75 * var(--scale))
    calc(0 * var(--scale)) calc(0.75 * var(--scale));
}

.navigation-bar {
  height: 100vh;
  width: calc(var(--bar-ratio) * var(--scale));
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-background-accent);
}

.navigation-bar ul {
  list-style: none;
  margin: calc(1.5 * var(--scale)) 0 0 0;
  padding: 0 0 0 calc(2 * var(--scale));
}

.navigation-bar li {
  padding: 0 0 calc(1 * var(--scale)) 0;
}

.navigation-bar li a {
  color: var(--color-text-body);
  text-decoration: none;
}

.navigation-bar li a:hover {
  color: var(--color-text-link-emph);
}

.navigation-account {
  position: fixed;
  bottom: 0;
  margin: 0 0 calc(2 * var(--scale)) 0;
}

input {
  background: var(--color-background);
  color: var(--color-text-body);
  font-size: calc(2 * var(--scale));
  font-family: var(--font-serif);
  border-style: solid;
  border-color: var(--color-text-main);
  border-width: calc(0.15 * var(--scale));
  border-radius: calc(1 * var(--scale));
  padding: calc(0.5 * var(--scale)) calc(1 * var(--scale))
    calc(0.5 * var(--scale)) calc(1 * var(--scale));
}

input:focus {
  outline: none;
  border-color: var(--color-text-main);
}

textarea {
  background: var(--color-background);
  color: var(--color-text-body);
  font-size: calc(1.75 * var(--scale));
  font-family: var(--font-serif);
  border-style: solid;
  border-color: var(--color-text-main);
  border-width: calc(0.15 * var(--scale));
  border-radius: calc(1 * var(--scale));
  padding: calc(0.5 * var(--scale)) calc(1 * var(--scale))
    calc(0.5 * var(--scale)) calc(1 * var(--scale));
}

textarea:focus {
  outline: none;
  border-color: var(--color-text-main);
}

.editor {
  font-family: var(--font-mono);
  width: var(--page-width);
  box-sizing: border-box;
  height: calc(0.375 * 100vh);
}

button {
  background: var(--color-background);
  color: var(--color-text-body);
  font-size: calc(2 * var(--scale));
  font-family: var(--font-serif);
  border-style: solid;
  border-color: var(--main-text);
  border-width: calc(0.15 * var(--scale));
  border-radius: calc(1 * var(--scale));
  padding: calc(0.25 * var(--scale)) calc(0.75 * var(--scale))
    calc(0 * var(--scale)) calc(0.75 * var(--scale));
}

button:hover {
  background: var(--color-background-accent);
}

.editor-button {
  width: var(--page-width);
  text-align: right;
  margin: calc(2 * var(--scale)) 0 0 0;
  padding: 0 0 0 0;
}

.editor-button button {
  width: calc(10 * var(--scale));
  margin: 0 0 0 calc(2 * var(--scale));
}

.editor-preview {
  height: calc(0.4 * 100vh);
  overflow: scroll;
  margin: calc(2 * var(--scale)) 0 0 0;
}

.form-table {
  border: none;
  border-collapse: collapse;
  margin: 0 0 calc(2 * var(--scale)) 0;
}

.form-table td {
  border: none;
  padding: 0 0 0 0;
}

.form-label {
  align-items: left;
  margin: calc(0.5 * var(--scale)) calc(1.5 * var(--scale))
    calc(0.5 * var(--scale)) 0;
  white-space: nowrap; /* prevent multi-line cell */
}

.form-input {
  align-items: right;
  width: calc(100%);
  box-sizing: border-box;
  margin: calc(0.5 * var(--scale)) 0 calc(0.5 * var(--scale)) 0;
}

.form-input[type="file"]:hover {
  background-color: var(--highlight-background-color);
}

.form-input-cell {
  width: 100%;
}

.form-button {
  text-align: right;
}

.form-button button {
  width: calc(10 * var(--scale));
}
